/* VARIABLES */
:root {
    --accent: #43D2FF;

    --primary: #072AC8;
    --primary-hover: #A2D6F9;
    --primary-tapped: #D1EDFF;

    --secondary: #FFC600;
    --secondary-hover: #FCE300;

    --neutral-dark: #292E47;
    --neutral-medium: #6B708D;
    --neutral-light: #F4F6FC;
    --neutral-blue: #ECF7FF;

    --black: #000;
    --white: #FFF;

    --transition: all .2s ease;
}

/* TYPEFACES */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
    font-style: normal;
    line-height: 1.15;
    font-size: 3.75rem;
    color: var(--neutral-dark);
    margin-bottom: 2rem;
}

/* GENERAL */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    font-style: normal;
    color: var(--neutral-medium);
    background-color: var(--neutral-light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

a {
    text-decoration: none;
}

.btn {
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 500;
    transition: var(--transition);
    font-size: 1.06rem;
}

.btn:hover {
    background-color: var(--primary-hover);
    color: var(--neutral-dark);
}

/* HEADER  */
.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.375rem;
}

.header__navigation {
    display: flex;
    gap: 3.75rem;
    font-weight: 500;
    font-size: 1.06rem;
}

.header__navigation a {
    color: var(--neutral-medium);
}

.header__navigation a:hover,
.header__navigation a.active {
    color: var(--primary);
}
