/* VARIABLES */
:root {
    --accent: #43D2FF;

    --primary: #072AC8;
    --primary-hover: #A2D6F9;
    --primary-tapped: #D1EDFF;

    --secondary: #FFC600;
    --secondary-hover: #FCE300;

    --neutral-dark: #292E47;
    --neutral-medium: #6B708D;
    --neutral-light: #F4F6FC;
    --neutral-blue: #ECF7FF;

    --black: #000;
    --white: #FFF;

    --transition: all .2s ease;
    --shadow: drop-shadow(0px 40px 90px rgba(0,0,0,.1));
}

/* TYPEFACES */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
    font-style: normal;
    line-height: 1.15;
    font-size: 3.75rem;
    color: var(--neutral-dark);
    margin-bottom: 2rem;
}

h3 {
    font-size: 2.5rem;
    color: var(--neutral-dark);
    font-weight: bold;
}

/* GENERAL */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    font-style: normal;
    color: var(--neutral-medium);
    background-color: var(--neutral-light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 68.75rem;
    margin: 0 auto;
    width: 100%;
}

section {
    padding: 6.25rem 0;
    margin: 0 3.75rem;
}

a {
    text-decoration: none;
}

.btn {
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 500;
    transition: var(--transition);
    font-size: 1.06rem;
}

.btn:hover {
    background-color: var(--primary-hover);
    color: var(--neutral-dark);
}

@media (max-width: 1199.98px) {
    html {
        font-size: 90%;
    }
    section {
        margin: 0 1.5rem;
    }
}

/* HEADER  */
.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.375rem;
}

.header__navigation {
    display: flex;
    gap: 3.75rem;
    font-weight: 500;
    font-size: 1.06rem;
}

.header__navigation a {
    color: var(--neutral-medium);
}

.header__navigation a:hover,
.header__navigation a.active {
    color: var(--primary);
}

/* HERO CONTENT */
.hero__content {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.hero__text,
.hero__image {
    flex: 0 1 50%;
}

.hero__image {
    position: relative;
}

.hero__image-card {
    position: absolute;
    top: 2rem;
    left: 0;
}

.hero__image-accepted {
    position: absolute;
    bottom: -2rem;
    right: 0;
}

.hero__image-card img,
.hero__image-accepted img {
    filter: var(--shadow);
}


.hero__text p {
    max-width: 35ch;
    margin-bottom: 2rem;
}

.hero__ctas {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.06rem;
}

.hero__ctas .link {
    color: var(--neutral-medium);
}

/* LOGOS */
.logos__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
}

.logos__content img {
    filter: grayscale(1);
}

/* RECENT PROJECTS */
.recent__header {
    padding-bottom: 4.375rem;
}

.recent__header h3 {
    color: var(--neutral-dark);
}

.recent__items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.project-card {
    flex: 0 1 21.25rem;
    filter: var(--shadow);
}

.project-card__image {
    position: relative;
    aspect-ratio: 4/2.82;
}

.project-card__image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-card__content {
    background-color: var(--white);
    padding: 1.875rem;
}

.project-card__title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: var(--neutral-dark);
    font-weight: 500;
}

.project-card__text {
    font-size: 1.06rem;
    margin-bottom: 3.2rem;
    color: var(--neutral-medium);
}

.project-card__link {
    font-size: 1.06rem;
    color: var(--primary);
}

/* CLIENTS */
.clients {
    background-color: var(--neutral-dark);
    background-image: url("../img/orbit.png");
    background-size: contain;
}

.clients__content {
    position: relative;
}

.clients__content h3 {
    color: var(--neutral-light);
    margin-bottom: 6.25rem;
    text-align: center;
}

.client-quote__text {
    font-size: 1.5rem;
    color: var(--secondary);
    text-align: center;
    max-width: 42ch;
    margin: 0 auto 6.25rem auto;
    font-weight: 500;
} 

.client-quote__author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.client-quote__img {
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
    overflow: hidden;
}

.client-quote__img img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.client-quote__name {
    font-size: 1.06rem;
    color: var(--primary-hover);
}

.client-quote__position {
    font-size: max(13px, .8125rem);
    color: var(--neutral-light);
}

.clients__memoji {
    position: absolute;
    max-width: 8rem;
}

.clients__memoji--1 {
    top: -2rem;
    left: 0;
}

.clients__memoji--2 {
    top: -2rem;
    right: 0;
}

.clients__memoji--3 {
    bottom: -2rem;
    left: 0;
}

.clients__memoji--4 {
    bottom: -2rem;
    right: 0;
}


/* SERVICES */
.services-card {
    background-color: var(--white);
    padding: 1.875rem;
}

.services__header {
    padding-bottom: 4.375rem;
}

.services__header h3 {
    color: var(--neutral-dark);
}

.services__items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.services-card {
    flex: 0 1 21.25rem;
    filter: var(--shadow);
}

.services-card__img {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--neutral-blue);
    margin-bottom: 1rem;
}

.services-card__img img {
    width: 2.5rem;
}

.services-card__title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: var(--neutral-dark);
    font-weight: 500;
}

.services-card__text {
    margin-bottom: 3.2rem;
    color: var(--neutral-medium);
}

.services-card__link {
    font-size: 1.06rem;
    color: var(--primary);
}







	
/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}	

/* Extra large devices (extralarge desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* Extra large devices (extralarge desktops, 1400px and up) */
@media (max-width: 1399.98px){}